<ul class="collapsible collapsible-accordion">
    <li class="bold">
        <a href='#cmd=index;content=schoolInfo' class="waves-effect waves-blue black-text"><i class="icon dashboard"></i> Dashboard</a>
    </li>
    <li class="bold">
        <a href='#cmd=index;content=options_gradeSheet' class="waves-effect waves-black black-text"><i class="icon gradeSheet"></i> Grade Sheet</a>
    </li>
    <li class="bold">
        <a href='#cmd=index;content=grade-summary' class="waves-effect waves-black black-text"><i class="icon summary"></i> Summary Grades</a>
    </li>
    <li class="bold">
        <a href="#cmd=index;content=settings_profile" class="waves-effect waves-blue black-text"><i class="icon settings"></i> Account Settings</a>
    </li>
</ul>