<style type="text/css">
	.collapsible-header:after{
		display: none;
	}
	.btn-icon:hover{
		border:1px solid #000;
		border-radius: 2px;
		opacity: 0.8;
	}
	.btn-icon{
		margin-left:10px;
		border:1px solid rgba(0,0,0,0);
	}

	td, th {
	    padding: 5px 5px !important;
	}

</style>
<div class="wrapper">
    <div class="container">
        <div class="section">
		    <div class="row">
		        <div class="col s12" id='list_yearSection'>
		        </div>
		    </div>
        </div>
    </div>
</div>

<div id='modal_bottomPopup' class='modal bottom-sheet'>
    <div class='modal-content'>
        <h5>System</h5>
        <div class='modal_subContent'></div>
    </div>
</div>

<div class='hidden' id='form_addSection'>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('.tooltipped').tooltip({delay: 50});
	});
	account.yearLevel();

	$('.wrapper').click(function(){
		$(".material-tooltip").hide(100);
	});
</script>