                        <ul class="collapsible collapsible-accordion">
                            <li class="">
                                <a href='#cmd=index;content=schoolInfo' class="waves-effect waves-blue black-text"><i class="icon dashboard"></i> Dashboard</a>
                            </li>
                            <li class="">
                                <a class="collapsible-header waves-effect waves-blue black-text"><i class="icon students"></i> Students</a>
                                <div class="collapsible-body" style="">
                                    <ul>
                                        <li><a href="#cmd=index;content=student-register">Add</a></li>
                                        <li><a href="#cmd=index;content=student-import">Import from excel</a></li>
                                        <li><a href="#cmd=index;content=student-list">List</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="">
                                <a class="collapsible-header waves-effect waves-blue black-text"><i class="icon teacher"></i> Teachers</a>
                                <div class="collapsible-body" style="">
                                    <ul>
                                        <li><a href="#cmd=index;content=teacher-register">Add</a></li>
                                        <li><a href="#cmd=index;content=teachers-list">List</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="">
                                <a href='#cmd=index;content=options_gradeSheet' class="waves-effect waves-black black-text"><i class="icon gradeSheet"></i> Grade Sheet</a>
                            </li>
                            <li class="">
                                <a href='#cmd=index;content=grade-summary' class="waves-effect waves-black black-text"><i class="icon summary"></i> Summary Grades</a>
                            </li>
                            <li class="">
                                <a href="#cmd=index;content=section-list" class="waves-effect waves-blue black-text"><i class="icon sectionManager"></i> Section manager</a>
                            </li>
                            <li class="">
                                <a href="#cmd=index;content=send-archive" class="waves-effect waves-blue black-text"><i class="icon archive"></i> Send Archive</a>
                            </li>
                            <li class="">
                                <a class="collapsible-header waves-effect waves-blue black-text"><i class="icon settings"></i> Settings</a>
                                <div class="collapsible-body" style="">
                                    <ul>
                                        <li><a href="#cmd=index;content=settings_profile">Account</a></li>
                                        <li><a href="#cmd=index;content=settings_school">School</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
