<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l12">
				<h5 class="breadcrumbs-title">Summary Grade</h5>
				<ol class="breadcrumbs">
					<li><a href="../account/">Dashboard</a></li>
					<li class="active">Summary Grade</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="divider"></div>
    <div class="container">
        <div class="section">
		    <div class="row">
				<form class="col s12" id='form_gradesheet'>
					<div class="">
						<div class="">
							<div class="row">
								<div class="input-field col s3">
									<label for="field_teacher" class='active'>Teacher: </label>
									<select class="select-dropdown" id='field_teacher' name="field_teacher" data-error=".error_teacher"><option disabled='' selected>Choose subject</option></select>
									<br/><div class="error_teacher"></div>	
								</div>
								<div class="input-field col s3">
									<label for="field_year" class='active'>Year: </label>
									<select class="select-dropdown" id='field_year' name="field_year" data-error=".error_year"><option disabled='' selected>Choose subject</option></select>
									<br/><div class="error_year"></div>	
								</div>
								<div class="input-field col s3">
									<label for="field_section" class='active'>Section: </label>
									<select class="select-dropdown" id='field_section' name="field_section" data-error=".error_section" disabled><option disabled='' selected>Choose subject</option></select>
									<br/><div class="error_section"></div>	
								</div>
								<div class="input-field col s3">
									<button class="btn blue waves-effect waves-light">Show grade sheet</button>
								</div>
							</div>
						</div>
					</div>
				</form>
		    	<!-- <div class='col s2 hidden' id='modeOption'>
					<label for='field_print' class='active'>Mode: </label>
			    	<select class='select-dropdown' data-cmd='changeView'>
			    		<option>Simple</option>
			    		<option>Graphical</option>
			    	</select>
		    	</div> -->
		    </div>
        </div>
        <div class="section">
		    <div class="row">
            	<div id='display_graphicalStudentList' style="opacity:0; height:0px; overflow:hidden;"></div>	
            	<div id='display_simpleStudentList'><h5 class='center-align grey-text lighten-3'><br/><br/><br/><i>Load Summary of Grades</i></h5></div>
		    </div>
		    <div class="row hidden">
            	<div id='print_gradeArea'></div>
		    </div>
        </div>
    </div>
</div>
<!-- <script src="../assets/js/plugins/print/print.js"></script> -->
<script src="../assets/js/jQuery.print.js"></script>
<script type="text/javascript">
	grading.list_summaryGrade();
    $("select").material_select();
	$(document).ready(function(){
		$('.tooltipped').tooltip({delay: 50});
	});
</script>
<style type="text/css">
	td, th {
	    border-radius: 0px;
	}
</style>